@import '../../../theme/variables';

.react-aria-ModalOverlay {
  .react-aria-Modal.image-cropper-modal {
    width: 100%;
    border: 0;
    background-color: $settings-header-bg;

    .react-aria-Dialog {
      width: 100%;
      height: 100%;
      align-items: center;
      padding: 0;
    }
  }
}
