@import '../../../theme/variables';

.react-aria-ModalOverlay {
  .react-aria-Modal.image-cropper-modal {
    max-width: 70vw;
    border: 0;
    background-color: $settings-header-bg;

    .react-aria-Dialog {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }
}
