@import '../../../theme/variables';

.react-aria-ModalOverlay {
  z-index: 150;
  .react-aria-Modal.image-cropper-modal {
    width: 70vw;
    max-width: unset;
    height: 70vh;
    border: 0;
    background-color: $settings-header-bg;

    .react-aria-Dialog {
      width: 100%;
      height: 100%;
      align-items: center;
      padding: 0;
    }
  }
}
