@import '../../../../theme/variables';
@import '../../../../theme/mixins';

.image-editor-navigation {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: $image-editor-spacing-lg;
  border-top: solid 1px $image-editor-border-color;
  background: $settings-header-bg;

  &__button {
    &--disabled {
      cursor: not-allowed;
      opacity: $image-editor-opacity-disabled;
      pointer-events: none;
    }
  }

  &__reset-rotation {
    margin-left: $image-editor-spacing-md;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: $image-editor-spacing-sm;

    svg {
      width: $image-editor-icon-size-desktop;
      height: $image-editor-icon-size-desktop;
    }

    @include small-mobile() {
      svg {
        width: $image-editor-icon-size-mobile;
        height: $image-editor-icon-size-mobile;
      }
    }
  }

  &__action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $image-editor-spacing-xl;
  }

  &__upload-input {
    display: none;
  }

  @include small-mobile() {
    padding-right: $image-editor-spacing-sm;
    padding-left: $image-editor-spacing-sm;
  }
}
.image-editor-button {
  @include image-editor-button();

  &--close {
    color: $nav-button-close-color;
    fill: $nav-button-close-color;
  }

  &--editor {
    @include image-editor-button(
      $bg: $editor-button-bg,
      $color: $editor-button-color,
      $bg-hover: $editor-button-bg-hover,
      $color-hover: $editor-button-color-hover,
      $bg-active: $editor-button-bg,
      $color-active: $editor-button-color
    );
  }
}
