@import '~react-advanced-cropper/dist/style.css';
@import '../../../theme/variables';
@import '../../../theme/constants';

.image-editor {
  width: 100%;
  color: $settings-header-color;

  &__preview {
    position: absolute;
    top: $image-editor-spacing-xl;
    left: $image-editor-spacing-xl;
    width: 45px;
    height: 45px;
    border: solid 1px $image-editor-border-color;
    border-radius: $image-editor-border-radius-circle;
    background: $settings-header-bg;
  }

  &__cropper {
    position: relative;
    display: flex;
    height: 500px;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
    background: $color-gray-dark;
  }

  &__slider {
    position: absolute;
    bottom: $image-editor-spacing-xl;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }

  &__cropper-overlay {
    transition: $image-editor-transition-slow;

    &--faded {
      color: $image-editor-bg-overlay;
    }
  }

  &__service {
    position: absolute;
    left: -100%;
    pointer-events: none;
  }

  &__reset-button {
    position: absolute;
    top: $image-editor-spacing-xl;
    right: $image-editor-spacing-xl;
    background: $editor-button-bg;
    color: $editor-button-color;

    &:hover {
      background: $editor-button-bg-hover;
      color: $editor-button-color-hover;
      fill: $editor-button-color-hover;
    }

    &--hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
}
