@import '~react-advanced-cropper/dist/style.css';
@import '../../../theme/variables';
@import '../../../theme/constants';

.image-editor {
  width: 100%;
  color: $settings-header-color;

  &__preview {
    position: absolute;
    top: $image-editor-spacing-xl;
    left: $image-editor-spacing-xl;
    width: 45px;
    height: 45px;
    border: solid 1px $image-editor-border-color;
    border-radius: $image-editor-border-radius-circle;
    background: $settings-header-bg;
  }

  &__cropper {
    position: relative;
    height: 500px;
    max-height: 100vh;
    background: $color-gray-dark;

    .advanced-cropper.advanced-cropper-wrapper {
      width: 100%;
      height: 100%;

      .advanced-cropper-boundary.advanced-cropper__boundary {
        width: 100%;
        height: 100%;

        .advanced-cropper-boundary__stretcher {
          width: 100% !important;
          height: 100% !important;
        }

        .advanced-cropper-boundary__content {
          width: 100%;
          height: 100%;

          .advanced-cropper__background-wrapper {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  &__slider {
    position: absolute;
    bottom: $image-editor-spacing-xl;
    left: 50%;
    width: 100%;
    padding: 0 10%;
    transform: translateX(-50%);
    .react-aria-Slider {
      width: 100%;
      max-width: 100%;
      padding: $image-editor-spacing-sm $image-editor-spacing-xl;
      border-radius: $image-editor-border-radius-lg;
      background-color: $slider-background-color;
      --text-color: #{$editor-text-color};
      --highlight-background: #{$editor-highlight-background};
      --highlight-background-pressed: #{$editor-highlight-background-pressed};
      --background-color: #{$editor-background-color};
      --border-color: #{$editor-input-border-color};
      --focus-ring-color: #{$editor-input-border-color};
    }
  }

  &__cropper-overlay {
    transition: $image-editor-transition-slow;

    &--faded {
      color: $image-editor-bg-overlay;
    }
  }

  &__service {
    position: absolute;
    left: -100%;
    pointer-events: none;
  }

  &__reset-button {
    position: absolute;
    top: $image-editor-spacing-xl;
    right: $image-editor-spacing-xl;
    background: $editor-button-bg;
    color: $editor-button-color;

    &:hover {
      background: $editor-button-bg-hover;
      color: $editor-button-color-hover;
      fill: $editor-button-color-hover;
    }

    &--hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
}
